doctype html
html
  head
    title Andrew Chalkley
    link(rel='stylesheet', href='stylesheets/style.css')
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/all_books') Books
      li
        a(href='/all_patrons') Patrons
      li
        a(href='/all_loans') Loans
  include ./error
  body
    h1 Patron: #{Details.first_name} #{Details.last_name}
    form(method="post" action="/patrons/"+ Details.id+"?_method=PUT")
      p
        label(for='first_name') First Name
        input#first_name(type='text', value= Details.first_name name='first_name')
      p
        label(for='last_name') Last Name
        input#last_name(type='text', value= Details.last_name name='last_name')
      p
        label(for='address')  Address
        input#address(type='text', value= Details.address name='address')
      p
        label(for='email') Email
        input#email(type='text', value= Details.email name='email')
      p
        label(for='library_id') Library ID
        input#library_id(type='text', value= Details.library_id name='library_id')
      p
        label(for='zip_code') Zip Code
        input#zip_code(type='text', value= Details.zip_code name='zip_code')
      p
        input(type='submit', value='Update')
    h2 Loan History
    table
      thead
        tr
          th Book
          th Patron 
          th Loaned on
          th Return by 
          th Returned on
          th Action
      tbody
        each loan in info
          tr
            td
              a(href='/books/' + Details.id)=loan.Book.title
            td
              a(href='/patrons/')=loan.Patron.first_name + ' ' + loan.Patron.last_name
            td=loan.loaned_on 
            td=loan.return_by 
            td=loan.returned_on 
            td
              if loan.returned_on === null
                a.button(href='/return_book/'+ loan.id) Return Book 